@inherits LayoutComponentBase

<PageTitle>TOKERO ARE THE BEST</PageTitle>

<div class="page">
    <main>
        <NavBar />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
